body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

header {
  padding: 100px 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff4d4d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #222;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}
